page-login {
    .logoLogin {
        width: 30%;
        margin: 0 auto;
        padding: 0;
        display: block;
    }
    form {
        margin: 25% 0;
        .label-md[stacked] {
            font-size: 18px;
        }
        ion-item {
            padding-left: 0 !important;
            .item-inner {
                margin-bottom: 15px;
                .input-wrapper {
                    ion-input {
                        font-size: 14px;
                        font-weight: normal;
                    }
                }
            }
        }
        span {
            float: left;
            width: 100%;
            text-align: center;
            &.loginSocialButton {
                img {
                    width: 15%;
                    margin: 5px;
                }
            }
        }
        button {
            width: 100%;
            .button-inner {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: normal !important;
            }
        }
    }
    span {
        &.links {
            position: relative;
            font-size: 14px;
            display: block;
            margin: 10px auto;
            text-align: center;
            a {
                text-decoration: none;
                font-weight: normal;
            }
            b {
                color: #666666;
                font-size: 14px;
                background: #FFF;
                padding: 5px;
                z-index: 99999;
                text-transform: uppercase;
            }
            .separate {
                background: #999;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 7px;
                z-index: -9999;
            }
        }
    }
    ion-item-divider {
        margin: 30px 0;
    }
}