page-login {
    .logo{
        margin: 0 auto;
        width: 50%;
    }
    .socialLogin{
        ul{
            margin: 0;
            padding: 0;
            li{
                display: inline-block;
                background: #EAEAEA;
                border: 1px solid #CCC;
                width: 100%;
                list-style: none;
                height: 50px;
                margin-bottom: 15px;
            }
        }
    }
}
