page-forgot-password {
  ion-row {
    margin: 15px 0;
    ion-col {
      text-align: center;
      span {
        .key {
          padding: 25px;
          border: 4px dotted #CCC;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
        }
        i {
          font-size: 60px;
          border: 5px solid #CCC;
          background: $background-color-brand;
          ;
          color: #FFF;
          border-radius: 50%;
          padding: 30px;
        }
      }
      form {
        ion-item {
          padding-left: 0 !important;
          margin-bottom: 30px !important;
        }
        span {
          border: none;
        }
      }
    }
  }
}
