<div *ngIf="loadUser()">
    <div class="avatar-signup" (click)="editAvatar()">
        <img src="assets/images/no-photo.png" *ngIf="avatarImage == null" alt="" />
        <img src="{{avatarImage}}" *ngIf="avatarImage != null" alt="" />
      </div>
      <form [formGroup]="form">
        <ion-item>
            <ion-label color="text" stacked>{{ 'global.label.name' | translate }}</ion-label>
            <ion-input color="dark" type="text" formControlName="Firstname" placeholder="{{ 'global.placeholder.name' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="text" stacked>{{ 'global.label.last-name' | translate }}</ion-label>
            <ion-input color="dark" type="text" formControlName="Lastname" placeholder="{{ 'global.placeholder.last-name' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="text" stacked>{{ 'global.label.email' | translate }}</ion-label>
            <ion-input color="dark" type="email" formControlName="Email" placeholder="{{ 'global.placeholder.email' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="text" stacked>{{ 'global.label.birthdate' | translate }}</ion-label>
            <ion-datetime  displayFormat="DD/MM/YYYY" formControlName="Birthdate"></ion-datetime>
          </ion-item>
        <ion-item *ngIf="!editData">
            <ion-label color="text" stacked>{{ 'global.label.password' | translate }}</ion-label>
            <ion-input color="dark" type="password" formControlName="Password" [(ngModel)]="pwd" placeholder="{{ 'global.placeholder.password' | translate }}"></ion-input>
        </ion-item>
        <div *ngIf="validatePassword(pwd) == 1">Weak</div>
        <div *ngIf="validatePassword(pwd) == 2">Medium</div>
        <div *ngIf="validatePassword(pwd) == 3">Strong</div>
        <ion-item *ngIf="!editData">
            <ion-label color="text" stacked>{{ 'global.label.confirmPassword' | translate }}</ion-label>
            <ion-input color="dark" type="password" formControlName="ConfirmPassword" placeholder="{{ 'global.placeholder.confirmPassword' | translate }}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="text" stacked>{{ 'global.label.cellphone' | translate }}</ion-label>
            <ion-input color="dark" type="tel" formControlName="PhoneNumber" placeholder="{{ 'global.placeholder.cellphone' | translate }}"></ion-input>
        </ion-item>
        <button ion-button full (click)="saveUser()" [disabled]="disabledButton">{{ 'global.button.confirm' | translate }}</button>
      </form>
</div>