page-home {

    @include card;

    /*Slide*/
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .swiper-pagination-bullet-active{
        background: $background-color-brand;
    }
}