<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only>
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
      </button>
      <button ion-button icon-only (click)="listActionsPage($event)">
        <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- Begin: Float button -->
  <ion-fab>
    <button ion-fab small (click)="presentModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <!-- End: Float button -->

  <ion-slides pager scroll="false">

    <ion-slide>

      <ion-list *ngFor="let card of Cards" class="cardList">

        <!-- New Card -->
        <div class="card corporate">
          <ion-grid>
            <ion-row>
              <ion-col col-auto>
                <img src="{{card.AvatarImage}}" class="cardAvatar" alt="" (click)="cardProfileModal()">
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-col col-10>
                    <h2 (click)="cardProfileModal()">{{card.FullName}}</h2>
                    <span>{{card.Occupation}}</span>
                    <span>{{card.Email}}</span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-6>
                    <img src="assets/images/branding.png" alt="">
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row class="actions">
              <ion-col>
                <i class="fa fa-phone fa-lg" aria-hidden="true"></i>Call</ion-col>
              <ion-col>
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>E-mail</ion-col>
              <ion-col>
                <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>Whatsapp</ion-col>
              <ion-col (click)="cardProfileModal()">
                <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>Mais</ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- Fim New Card -->



        <!-- Begin: Personal Card -->
        <flash-card *ngIf="card.Type == 0">
          <div class="flash-card-front">
            <div class="branding-color"></div>
            <div class="profile">
              <img src="{{card.AvatarImage}}" class="cardAvatar" alt="">
            </div>
            <div class="profileData">
              <h2>{{card.FullName}}</h2>
              <span>&nbsp;</span>
              <ul>
                <li>
                  <i class="fa fa-phone fa-fw" aria-hidden="true"></i> {{card.Phone}}</li>
                <li>
                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> {{card.Cellphone}}</li>
                <li>
                  <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> {{card.Email}}</li>
              </ul>
              <ul class="socialMedia">
                <li *ngFor="let social of card.SocialMedias">
                  <i *ngIf="social.Type == 0" class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                  <i *ngIf="social.Type == 1" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                  <i *ngIf="social.Type == 2" class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                  <i *ngIf="social.Type == 3" class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
            <div *ngIf="card.IsFavorite" class="favorite active"></div>
          </div>
          <div class="flash-card-back">
            <div class="brandingCover">
              <p class="site">{{card.Website}}</p>
            </div>
          </div>
        </flash-card>
        <!-- End Personal Card -->

        <!-- Company Card -->
        <flash-card *ngIf="card.Type == 1">
          <div class="flash-card-front">
            <div class="branding-color" [ngStyle]="{'background-color': card.Config.BgColor, 'color': card.Config.FontColor }"></div>
            <div class="profile">
              <img src="{{card.AvatarImage}}" class="cardAvatar" alt="">
              <div class="logoBranding">
                <img src="{{card.CompanyLogo}}" alt="">
              </div>
            </div>
            <div class="profileData">
              <h2>{{card.FullName}}</h2>
              <span>{{card.Occupation}}</span>
              <ul>
                <li>
                  <i class="fa fa-phone fa-fw" aria-hidden="true"></i> {{card.Phone}}</li>
                <li>
                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> {{card.Cellphone}}</li>
                <li>
                  <i class="fa fa-envelope fa-fw" aria-hidden="true"></i> {{card.Email}}</li>
              </ul>
              <ul class="socialMedia">
                <li *ngFor="let social of card.SocialMedias">
                  <i *ngIf="social.Type == 0" class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
                  <i *ngIf="social.Type == 1" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
                  <i *ngIf="social.Type == 2" class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                  <i *ngIf="social.Type == 3" class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
            <div *ngIf="card.IsFavorite" class="favorite active"></div>
          </div>

          <div class="flash-card-back">
            <div class="brandingCover">
              <img src="{{card.CompanyLogo}}" alt="">
              <p class="site" [ngStyle]="{'background-color': card.Config.BgColor, 'color': card.Config.FontColor }">{{card.Website}}</p>
            </div>
          </div>
        </flash-card>
        <!-- End Company Card -->
      </ion-list>
    </ion-slide>

    <ion-slide>
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>

  </ion-slides>


</ion-content>
