<ion-header>
  <ion-navbar>
    <ion-title>
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item" href="#one!">
      <ul>
        <li *ngFor="let card of Cards">
          <div id="card" class="myCard">
            <div class="front">
              <div class="branding-color" [ngStyle]="{'background-color': card.IdentityBgColor, 'color': card.IdentityFontColor }"></div>
              <div class="profile">
                <img src="{{card.AvatarImage}}" class="cardAvatar" alt="">
                <div class="logoBranding">
                  <img src="{{card.CompanyLogo}}" alt="">
                </div>
              </div>
              <div class="profileData">
                <h2>{{card.FullName}}</h2>
                <span>{{card.Occupation}}</span>
                <ul>
                  <li><i class="material-icons tiny fa-fw">call</i> {{card.Phone}}</li>
                  <li><i class="material-icons tiny fa-fw">stay_current_portrait</i> {{card.Cellphone}}</li>
                  <li><i class="material-icons tiny fa-fw">email</i> {{card.Email}}</li>
                </ul>
                <ul class="socialMedia">
                  <li *ngFor="let social of card.SocialMedias">
                    <i *ngIf="social.Type == 0" class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i *ngIf="social.Type == 1" class="fa fa-linked-square" aria-hidden="true"></i>
                    <i *ngIf="social.Type == 2" class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i *ngIf="social.Type == 3" class="fa fa-instagram" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
              <div *ngIf="card.IsFavorite" class="favorite active"></div>
            </div>
            <div class="back">
              <div class="brandingCover">
                <img src="{{card.CompanyLogo}}" alt="">
                <p class="site" [ngStyle]="{'background-color': card.IdentityBgColor, 'color': card.IdentityFontColor }">www.dell.com.br</p>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="carousel-item" href="#two!">
      <h2>Feed</h2>

    </div>
    <div class="carousel-item" href="#three!">
      <h2>Todos os cartões</h2>

    </div>
  </div>
</ion-content>