/*RESET CONFIG*/


/*FLOAT BUTTON*/
.btn-floating{
    background-color: $background-color-brand !important;
    &.btn-large{
        width: $size-float-button !important;
        height: $size-float-button !important;
        span{
            font-size: 30px;
            line-height: 40px;
            font-weight: bold;
        }
        i{
            line-height: $size-float-button !important;
        }
    }
}

.fixed-action-btn.toolbar ul li{
    a{
        line-height: initial !important;
        margin-top: 10px;
        span{
            font-size: 12px;
        }
        i{
            font-size: 22px;
        }
    }
    
}