/*SIDEBAR MENU*/
ion-menu{
    font-family: Roboto;
    ion-header{
        background: #EAEAEA !important;
        p{
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            color: #FFF;
        }
        text-align: center;
        .avatar{
            display: block;
            @include sizeAvatar();
            border-radius: $border-radius-avatar;
            margin: 10px auto;
            @include shadowAvatar();
        }
        .logo{
            width: 50%;
            padding: 10px;
        }
        button.editMenu {
            background: none;
            border: 2px solid #FFF;
            border-radius: 18px;
            padding: 3px 14px;
            font-size: 12px;
            margin: 0 0 10px 0;
            text-transform: uppercase;
            color: #FFF;
        }
    }
    ion-content{
        .scroll-content{
            overflow: hidden;
        }
        ion-list{
            button{
                &.item-md{
                    min-height: auto;
                }
                .item-inner{
                    border: none !important;
                    ion-label{
                        font-size: 16px;
                        padding: 2px;
                    }
                }
            }
            i{
                padding-right: 15px;
            }
            .division{
                width: 100%;
                height: 1px;
                background-color: #ccc;
                margin: 10px 0;
            }            
        }
        .footer-bar-menu {
            position: absolute;
            bottom: 0;
            background: #CCC;
            width: 100%;
        }
    }
}