/*SIDEBAR MENU*/
ion-menu{
    font-family: Roboto;
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{border-bottom: none;}
    ion-header{
        background: #EAEAEA url("../../assets/images/bg-sidebar.jpg") !important;
        position: relative;
        p{
            font-size: 14px;
            margin: 0px;
            padding: 0px;
            color: #FFF;
        }
        text-align: center;
        .avatar{
            display: block;
            @include sizeAvatarCard();
            border-radius: $border-radius-avatar;
            @include shadowAvatar();
            margin: 10px;
        }
        .logo{
            width: 50%;
            padding: 10px;
        }
        button.editMenu {
            background: none;
            border: 2px solid #FFF;
            border-radius: 18px;
            padding: 3px 14px;
            font-size: 12px;
            margin: 0 0 10px 0;
            text-transform: uppercase;
            color: #FFF;
        }
        h4{
            color: #FFF;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 16px;
            text-align: left;
            display: block;
            margin: 0 0 5px 10px;
            text-shadow: $text-shadow;
        }
        span{
            text-align: left;
            color: #FFF;
            display: block;
            margin: 0 0 5px 10px;
            text-shadow: $text-shadow;
            &.logout{
                position: absolute;
                bottom: 15px;
                right: 15px;
            }
            &.notification{
                position: absolute;
                top: 15px;
                right: 15px;
                .numNotification{
                    background: #FFF;
                    text-align: center;
                    color: red;
                    padding: 2px;
                    border-radius: $border-radius-avatar;
                    position: absolute;
                    bottom: -2px;
                    right: -5px;
                    font-size: 8px;
                    text-shadow: none;
                    font-weight: bold;
                    box-shadow: $box-shadow-card;
                }
            }
        }
    }
    ion-content{
        .scroll-content{
            overflow: hidden;
        }
        ion-list{
            button{
                &.item-md{
                    min-height: auto;
                }
                .item-inner{
                    border: none !important;
                    ion-label{
                        font-size: 16px;
                        padding: 2px;
                    }
                }
            }
            i{
                padding-right: 15px;
            }
            .division{
                width: 100%;
                height: 1px;
                background-color: #ccc;
                margin: 10px 0;
            }            
        }
        .footer-bar-menu {
            position: absolute;
            bottom: 0;
            background: #CCC;
            width: 100%;
        }
    }
}