<div class="card corporate">
  <ion-grid>
    <ion-row>
      <ion-col col-auto>
        <img src="assets/images/fotoPerfil.jpg" class="cardAvatar" alt="">
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col col-10>
            <h2>Teste</h2>
            <span>Ocupacao</span>
            <span>email</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <img src="assets/images/branding.png" alt="">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="actions">
      <ion-col>
        <i class="fa fa-phone fa-lg" aria-hidden="true"></i>Call</ion-col>
      <ion-col>
        <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>E-mail</ion-col>
      <ion-col>
        <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>Whatsapp</ion-col>
      <ion-col>
        <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>Mais</ion-col>
    </ion-row>
  </ion-grid>
</div>