.ios,
.md {
  card {
    .flip-container {
      perspective: 1000px;
      &.flipped .flipper {
        transform: rotateY(180deg);
      }
    }
    .flip-container,
    .front,
    .back {
      width: 100%;
      height: 215px;
      margin: 0 auto 10px;
    }
    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;
    }
    .front,
    .back {
      display: flex;
      background-color: #FFF;
      backface-visibility: hidden;
      box-shadow: $box-shadow-card;
      border-radius: $border-radius-card;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
      .frontGrid{
        margin-top: 40px;
      }
      ion-row{
        ion-col{
          text-align: right;
          .branding {
            margin-top: 20px;
            float: right;
          }
        }
      }
      .avatar{
        position: relative;
      }
      .cardAvatar {
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        object-fit: cover;
      }
      .edit {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
        color: #FFF;
        background: #333;
        position: absolute;
        bottom: 0px;
        right: 10px;
      }
      h2 {
        font-size: 16px;
        margin: 15px 0 0;
        width: 100%;
      }
      small{
        width: 100%;
      }
    }
    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
      .qrcode {
        width: 100px;
        height: 100px;
      }
      .info{
        position: absolute;
        bottom: 15px;
        right: 10px;
        color: #666;
        display: block;
        z-index: 9999;
      }
      ul {
          margin: 0;
          padding: 0;
          list-style: none;
        li {
            font-size: 12px;
            display: block;
            text-align: left;
            margin-bottom: 5px;
          i {
              display: inline-block;
              text-align: center;
              font-size: 14px;
            &.icon {
              background-color: #4d4d4d;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              line-height: 30px;
              color: #FFF;
            }
          }
          small{
            display: inline-block;
            float: none;
            vertical-align: middle;
            font-size: 12px;
          }
        }
      }
    }
    .front,
    .back {
      .option {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #666;
        display: block;
        z-index: 9999;
      }
      span,
      small {
        float: right;
      }
      /*Style Card*/
      .style-card {
        background: #888;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        border-radius: 0 0 5px 5px;
      }
    }
  }
}
