<div class="flip-container" [class.flipped]="flipped">
  <div class="flipper">
    <div class="front">
      <span (click)="flip()" class="option">
        <i class="fas fa-redo" aria-hidden="true"></i>
      </span>
      <ion-grid class="frontGrid">
        <ion-row>
          <ion-col col-auto class="avatar">
            <img src="assets/images/fotoPerfil.jpg" class="cardAvatar" alt="">
            <small class="edit"><i class="fas fa-pencil-alt" aria-hidden="true"></i></small>
          </ion-col>
          <ion-col>
            <ion-row>
              <h2>Guilherme Felipe Costa e Silva</h2>
              <small>E-commerce Manager</small>
            </ion-row>
            <ion-row class="branding">
              <img src="assets/images/rakuten.jpg" alt="">
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="style-card"></div>
    </div>
    <div class="back">
      <span (click)="flip()" class="option">
        <i class="fas fa-redo" aria-hidden="true"></i>
      </span>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ul>
              <li>
                <i class="fas fa-mobile-alt fa-xs icon" aria-hidden="true"></i>
                <small>+55 (11) 99999-9999</small>
              </li>
              <li>
                <i class="fas fa-phone fa-xs icon" aria-hidden="true"></i>
                <small>+55 (11) 3333-333 r.5222</small>
              </li>
              <li>
                <i class="fas fa-laptop fa-xs icon" aria-hidden="true"></i>
                <small>www.sitedaempresa.com.br</small>
              </li>
              <li>
                <i class="far fa-envelope fa-xs icon" aria-hidden="true"></i>
                <small>emaildapessoa@empresa.com.br</small>
              </li>
              <li>
                <i class="fas fa-map-marker-alt fa-xs icon" aria-hidden="true"></i>
                <small>Av. Francisco Matarazzo, 1500 <br>
                Agua Branca - São Paulo - Sp</small>
              </li>
            </ul>
          </ion-col>
        </ion-row>
      </ion-grid>
      <span class="info">
        <i class="fas fa-info" aria-hidden="true"></i>
      </span>
      <div class="style-card"></div>
    </div>
  </div>
</div>