<ion-header>
    <ion-navbar>
      <ion-title>
       {{card?.FullName}}
      </ion-title>
      <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content padding>
    
    <div class="boxCardProfile" *ngIf="card">
      <div class="boxProfile">
        <img src="{{card.AvatarImage}}" class="cardAvatar" alt="" *ngIf="card.AvatarImage" />
        <h2>{{card.FullName}}</h2>
        <span>{{card.Occupation}}</span>
        <img src="{{card.CompanyLogo}}" alt="" class="branding" *ngIf="card.CompanyLogo" />
        <div *ngIf="card.SocialMedias" class="social">
          <ul>
            <li *ngFor="let socialMedia of card.SocialMedias"><a href="{{socialMedia.Url}}">
              <i [ngClass]="{'fa-facebook': socialMedia.Type == 0, 'fa-linkedin': socialMedia.Type == 1, 'fa-twitter': socialMedia.Type == 2, 'fa-instagram': socialMedia.Type == 3, 'fa-google-plus': socialMedia.Type == 4, 'fa-youtube': socialMedia.Type == 5}" class="fa fa-lg" aria-hidden="true"></i>
            </a></li>
          </ul>
        </div>
      </div>
      
      <div *ngIf="card.Bio" class="box">
        <h2>Biografia</h2>
        <p>{{card.Bio}}</p>
      </div>

      <div *ngIf="card.Occupation || card.Website || card.Phone || card.Cellphone" class="box">
        <h2>Trabalho</h2>
        <p *ngIf="card.Occupation"><b>Profissão:</b> {{card.Occupation}}</p>
        <p *ngIf="card.Website"><b>Site:</b> <a href="{{card.Website}}">{{card.Website}}</a></p>
        <p *ngIf="card.Phone"><b>Telefone:</b> {{card.Phone}}</p>
        <p *ngIf="card.Cellphone"><b>Celular:</b> {{card.Cellphone}}</p>
      </div>
  
      <div *ngIf="card.Address || card.Neighborhood || card.PostalCode || card.Address2" class="box">
        <h2>Endereço</h2>
        <p *ngIf="card.Address"><b>Logradouro:</b> {{card.Address}}</p>
        <p *ngIf="card.Neighborhood"><b>Bairro:</b> {{card.Neighborhood}} | <b>Cidade:</b> {{card.City}} - {{card.State}}</p>
        <p *ngIf="card.PostalCode"><b>CEP:</b> {{card.PostalCode}}</p>
        <p *ngIf="card.Address2"><b>Complemento:</b> {{card.Address2}}</p>
      </div>
  
      <div *ngIf="card.Qualifications" class="box">
        <h2>Qualificações</h2>
        <ion-badge *ngFor="let qualification of card.Qualifications">{{qualification}}</ion-badge>
      </div>
    </div>
    
    
  </ion-content>
  