// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$background-color-brand: #faa301;
$fab-list-button-background-color: #333; 

$text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
$box-shadow-card: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$box-shadow-float-menu: 0 2px 20px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
$border-radius-card: 5px;
$border-radius-avatar: 50%;

$size-float-button: 48px;

// Mixins

/*AVATAR CONFIG*/
@mixin sizeAvatar(){width: 120px; height: 120px;} //Tamanho da imagem avatar cartão
@mixin sizeAvatarCard(){width: 80px; height: 80px;} //Tamanho da imagem avatar criação de cartão
@mixin shadowAvatar(){
   -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.3);
   -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.3);
   box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.3);   
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #faa301,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  text:       #999
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-background: $background-color-brand;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-background: $background-color-brand;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";


@mixin card {
  /*SLIDE PAGE*/
  ion-list{
    padding: 10px;
    margin-bottom: 0 !important;
    .corporate{
        border-left: 10px solid #FF9900;
    }
    .card{
        width: 100%;
        height: auto;
        box-shadow: $box-shadow-card;
        border-radius: $border-radius-card;
        margin-bottom: 15px;
        position: relative;
        .cardAvatar{
            display: block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        h2{
            font-size: 18px;
            padding: 0;
            margin: 0;
            text-align: left;
            vertical-align: top;
            display: block;
        }
        span{
            font-size: 14px;
            color: #333;
            text-align: left;
            vertical-align: top;
            display: block;
        }
        i{
            &.settings{
                margin: 10px auto 0;
            }
        }
        .actions{
            margin-top: 10px;
            ion-col{
                text-align: center;
                i{
                    display: block;
                    margin-bottom: 10px;
                    font-size: 24px;
                }
                font-size: 12px;
            }
        }
    }
    flash-card{
        width: 100%;
        height: 200px;
        position: relative;
        .flash-card-front{
            width: 100%;
        }
        .front, .back{
            width: 100% !important;
            box-shadow: $box-shadow-card;
            border-radius: $border-radius-card;
        }
        .branding-color{
            float: left;
            width: 4%;
            height: 100%;
            border-radius: 5px 0 0 5px;
            background-color: #CCC;

        }
        .favorite{
            position: absolute;
            top: 0;
            right: 10px;
            width: 21px;
            height: 30px;
            &.active{
                background: url("../assets/images/fav-active.png") no-repeat !important;
            }
            &.inactive{
                background: url('../assets/images/fav-inactive.png') no-repeat !important;
            }
        }
        .profile {
            float: left;
            width: 40%;
            height: 100%;
            padding: 4px;
            .cardAvatar{
                display: block;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin: 15px auto 0;
            }
            .logoBranding{
                display: block;
                width: 100%;
                height: auto;
                margin: 30px auto 0;
                text-align: center;
                img{
                    max-width: 30%;
                }
            }
        }
        .profileData{
            float: left;
            width: 56%;
            height: 100%;
            padding: 4px;
            text-align: left;
            h2{
                margin: 30px 0 0 0;
                font-size: 16px;
                line-height: normal;
            }
            span{
                margin: 0;
                font-size: 12px;
                color: #333;
                line-height: normal;
            }
            ul{
                padding-left: 0;
                &.socialMedia{
                    width: 100%;
                    height: auto;
                    margin: 15px 0 0 0;
                    li{
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                    }
                }
                li{
                    font-size: 12px;
                    color: #000;
                    margin: 0;
                    list-style: none;
                }
            }
        }
        .brandingCover{
            img{
                width: 30% !important;
                margin: 10% 35%;
                float: left;
            }
            p{
                &.site{
                    position: absolute;
                    bottom: 0;
                    border-radius: 0 0 5px 5px;
                    background: #CCC;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    font-size: 16px;
                    color: #FFF;
                    text-shadow: $text-shadow;
                    text-align: center;
                }
            }
        }                           
    }
  }
}