page-create-card {
    .photoCard{
        display: block;
        @include sizeAvatar();
        border-radius: $border-radius-avatar;
        margin: 10px auto;
        @include shadowAvatar();
    }
    .editAvatar{
        margin: 0 auto;
        display: flex;
        color: #999;
        background: none;
        font-size: 16px;
    } 
    .item-md{
        padding-left: 0;
    }

    ion-item-group{
        ion-item-divider{
            margin-top: 20px;
            background: #eaeaea !important;
            text-transform: uppercase !important;
            padding-left: 10px !important;
            color: #333 !important;
        }
        ion-item{
            .item-inner{
                overflow: visible;
                padding-right: 0 !important;
                width: 100%;
                word-break: break-all;
            }
            .button-inner{
                padding: 5px;
            }
            ion-badge{
                margin: 5px;
            }
        }
    }
}
