page-create-card {
    figure{
        img{
            object-fit: cover;
        }
        .photoCard{
            display: block;
            @include sizeAvatar();
            border-radius: $border-radius-avatar;
            margin: 10px auto;
            @include shadowAvatar();
        }
    }
    .editAvatar{
        margin: 0 auto;
        display: flex;
        color: #999;
        background: none;
        font-size: 16px;
    } 
    .item-md{
        padding-left: 0;
    }

    ion-item-group{
        ion-item-divider{
            margin-top: 20px;
            background: #eaeaea !important;
            text-transform: uppercase !important;
            padding-left: 10px !important;
            color: #333 !important;
        }
        ion-item{
            .item-inner{
                overflow: visible;
                padding-right: 0 !important;
                width: 100%;
            }
            .button-inner{
                padding: 5px;
            }
            ion-label{
                white-space: normal;
            }
            ion-badge{
                margin: 5px;
                position: relative;
                .excludeBadge{
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    color: #333;
                    background: #FFF;
                    border-radius: 50%;
                    padding: 1px 2px;
                    border: 1px solid #CCC;
                    font-size: 9px;
                    font-weight: bold;
                }
            }
        }
    }
}
