page-float-main-nav {
    ion-content{
        .box-menu-float{
            ul{
                li{
                    span{
                        width: 20%;
                        text-align: center;
                        &.icon{
                            display: inline-flex;
                            border-radius: $border-radius-avatar;
                            background: #CCC;
                            img{
                                width: 50%;
                                height: 50%;                                
                            }
                        }
                    }
                    h3{
                        display: inline-flex;
                    }
                }
            }
        }
    }
}
