ion-modal{  
    top: initial;
    bottom: 0;
    height: 50%;
    box-shadow: $box-shadow-float-menu;
}

page-float-main-nav {
    ion-content{
        .box-menu-float{
            position: absolute;
            bottom: 0;
            height: 100%;
            i{
                top: 5px;
                right: 5px;
                position: absolute;
            }
            ul{
                margin: 15px 10px 10px 10px;
                padding: 10px;
                li{
                    list-style: none;
                    display: inline-block;
                    width: 100%;
                    margin: 0 0 15px 0;
                    span{
                        &.icon{
                            float: left;
                            width: 14%;
                            margin: 0 15px 0 0;
                            img{
                                width: 50px;
                            }
                        }
                        &.description{
                            float: left;
                            width: 80%;
                            h3,p{
                                margin: 0;
                                display: inline-block;
                            }
                            p{
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
