<ion-card>

  <ion-card-header>
    Últimas pesquisas realizadas
  </ion-card-header>

  <ion-card-content>
    <div class="client"><img src="../../assets/images/fotoPerfil.jpg" alt=""> Nome Cliente</div>
    <div class="client"><img src="../../assets/images/fotoPerfil.jpg" alt=""> Nome Cliente</div>
    <div class="client"><img src="../../assets/images/fotoPerfil.jpg" alt=""> Nome Cliente</div>
    <div class="client"><img src="../../assets/images/fotoPerfil.jpg" alt=""> Nome Cliente</div>
    <div class="client"><img src="../../assets/images/fotoPerfil.jpg" alt=""> Nome Cliente</div>
  </ion-card-content>

</ion-card>