<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'page.main-cards.title.title-my-cards' | translate }}
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngFor="let card of Cards" class="cardList">

    <!-- New Card -->
    <div class="card corporate">
      <ion-grid>
        <ion-row>
          <ion-col col-auto *ngIf="card.AvatarImage">
            <img src="{{card.AvatarImage}}" class="cardAvatar" alt="" (click)="cardProfileModal(card)">
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col col-10>
                <h2 (click)="cardProfileModal(card)">{{card.FullName}}</h2>
                <span>{{card.Occupation}}</span>
                <span>{{card.Email}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 *ngIf="card.CompanyLogo">
                <img src="{{card.CompanyLogo}}" alt="">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="actions">
          <ion-col *ngIf="card.Cellphone || card.Phone" (click)="makeCall(card)">
            <i class="fa fa-phone fa-lg" aria-hidden="true"></i>Call</ion-col>
          
            <ion-col (click)="composeEmail(card.Email)">
              
              <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>E-mail
              </ion-col>

          <ion-col *ngIf="card.Cellphone">
            <a href="{{getWhatsappUrl(card.Cellphone)}}">
              <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>Whatsapp
            </a></ion-col>
          <ion-col (click)="cardProfileModal(card)">
            <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>Mais</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- Fim New Card -->
  </ion-list>

</ion-content>